.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #2c2c58;
    padding: 20px;
    filter: contrast(64%);
   
}
.navbar-title{
    font-weight: bold;
    font-size: 24px;
     color: white;
}
.navbar-routes{
    color:#ccc
}