.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #2c2c58;
    padding: 20px;
    filter: contrast(64%);
   
}
.navbar-title,
.navbar-title>a
{
    font-weight: bold;
    font-size: 24px;
     color: white;
     text-decoration: none;
}
.navbar-routes,.navbar-routes>a
{
    color:#ccc;
    text-decoration: none;

}